body {
    margin: 20px;
    background-image: url('https://images.unsplash.com/photo-1480796927426-f609979314bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    background-size: cover;
}
.board {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
}
